<!DOCTYPE html>
html
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width" initial-scale="1.0")
	meta(name="keywords" content="angular, thumbnails, grid, preview, google image search, image grid, expanding, preview, portfolio")
	meta(name="author" content="Flicsl")
	title Angular Thumbnail Grid Example
	link(rel="stylesheet" href="../dist/angular-thumbnail-grid.css")
body
	.main
		ul.og-grid(id="og-grid")
			li
				a(href="www.google.com" data-largesrc="images/1.jpg" data-title="Azuki Bean" data-description="Lorem ipsum dolor sit amet consectetut adiscipling elit.")
					img(src="images/thumbs/1.jpg" alt="img01")
script(src="../bower_components/angular/angular.js")
script(src="../dist/angular-thumbnail-grid.js")