<!DOCTYPE html>
html
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width" initial-scale="1.0")
	meta(name="keywords" content="angular, thumbnails, grid, preview, google image search, image grid, expanding, preview, portfolio")
	meta(name="author" content="Flicsl")
	title Angular Thumbnail Grid Example
	link(rel="stylesheet" href="../dist/angular-thumbnail-grid.css")
body(ng-app="angular-thumbnail-grid-example")
	.main
		bm-thumbnail-grid
script(src="../bower_components/angular/angular.js")
script(src="../dist/angular-thumbnail-grid.min.js")
script(src="index.js")